<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
</head>
<body>
    <%- include ("navbar.ejs", {one: false, two: true, three: false, foursix: false}) %>
    <% function getEqString(fieldName) {
        if (fieldName == "year") return "Release Year"
        if (fieldName == "pub_year") return "Publication Year"
        if (fieldName == "pub_month") return "Publication Month"
        if (fieldName == "pub_weekday") return "Publication Weekday"
        if (fieldName == "author") return "Author"
        if (fieldName == "author_type") return "Author Type"
        if (fieldName == "artist") return "Arrtist"
        if (fieldName == "label") return "Label"
    } %>
    <div class="container">
        <div class="row">
            <form action="/drilldown/getquery" method="post">
                <h5 class="mt-3">Drill-down Query: Number of reviews drilled down by 5 categories with number of reviews per row</h5>
                <p>
                    Determine an author’s behavior of rating reviews from a specific time/label/artist<br>
                    The artist’s reputation in Pitchfork based on the scores
                </p>
                <div class="row">
                    <div class="col">
                        <select name="field1" id="field1" class="form-control">
                            <option value="blank1" selected>Select Field</option>
                            <option value="pub_year">Publication Year</option>
                            <option value="pub_month">Publication Month</option>
                            <option value="pub_weekday">Publication Weekday</option>
                            <option value="author">Author</option>
                            <option value="author_type">Author Type</option>
                            <option value="artist">Artist</option>
                            <option value="label">Label</option>
                        </select>
                    </div>
                    <div class="col">
                        <select name="field2" id="field2" class="form-control">
                            <option value="blank2" selected>Select Field</option>
                            <option value="pub_year">Publication Year</option>
                            <option value="pub_month">Publication Month</option>
                            <option value="pub_weekday">Publication Weekday</option>
                            <option value="author">Author</option>
                            <option value="author_type">Author Type</option>
                            <option value="artist">Artist</option>
                            <option value="label">Label</option>
                        </select>
                    </div>
                    <div class="col">
                        <select name="field3" id="field3" class="form-control">
                            <option value="blank3" selected>Select Field</option>
                            <option value="pub_year">Publication Year</option>
                            <option value="pub_month">Publication Month</option>
                            <option value="pub_weekday">Publication Weekday</option>
                            <option value="author">Author</option>
                            <option value="author_type">Author Type</option>
                            <option value="artist">Artist</option>
                            <option value="label">Label</option>
                        </select>
                    </div>
                    <div class="col">
                        <select name="field4" id="field4" class="form-control">
                            <option value="blank4" selected>Select Field</option>
                            <option value="pub_year">Publication Year</option>
                            <option value="pub_month">Publication Month</option>
                            <option value="pub_weekday">Publication Weekday</option>
                            <option value="author">Author</option>
                            <option value="author_type">Author Type</option>
                            <option value="artist">Artist</option>
                            <option value="label">Label</option>
                        </select>
                    </div>
                    <div class="col">
                        <select name="field5" id="field5" class="form-control">
                            <option value="blank5" selected>Select Field</option>
                            <option value="pub_year">Publication Year</option>
                            <option value="pub_month">Publication Month</option>
                            <option value="pub_weekday">Publication Weekday</option>
                            <option value="author">Author</option>
                            <option value="author_type">Author Type</option>
                            <option value="artist">Artist</option>
                            <option value="label">Label</option>
                        </select>
                    </div>
                </div>
                <br>
                <p id="blank-error" class="text-danger" hidden>Blank fields are not allowed.</p>
                <p id="dupe-error" class="text-danger" hidden>Duplicate fields are not allowed.</p>
                <input id="submit" class="btn btn-primary mr-3" type="submit" value="Search" disabled>
            </form>
        </div>
      </div>
    <% if (result) { %>
    <div class="table-wrapper">
        <table class="table table-hovered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><%= getEqString(headers.field1) %></th>
                    <th scope="col"><%= getEqString(headers.field2) %></th>
                    <th scope="col"><%= getEqString(headers.field3) %></th>
                    <th scope="col"><%= getEqString(headers.field4) %></th>
                    <th scope="col"><%= getEqString(headers.field5) %></th>
                    <th scope="col">Normalized Review Score</th>
                </tr>
            </thead>
            <tbody>
                <% result.forEach((record, index) => { %>
                    <tr>
                        <% for (let key in record) { %>
                            <td> <%= record[key] %> </td>
                        <% } %>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <% } %>
    <script>
        function checkErr() {
            const field1 = $("#field1").val()
            const field2 = $("#field2").val()
            const field3 = $("#field3").val()
            const field4 = $("#field4").val()
            const field5 = $("#field5").val()

            let dupe = 
                field1 === field2 || field1 === field3 || field1 === field4 || field1 === field5 ||
                field2 === field3 || field2 === field4 || field2 === field5 || 
                field3 === field4 || field3 === field5 ||
                field4 === field5
            
            let blank = 
                field1 === "blank1" || 
                field2 === "blank2" || 
                field3 === "blank3" ||
                field4 === "blank4" ||
                field5 === "blank5"

            if (dupe) {
                $("#dupe-error").attr("hidden", false)
            } else {
                $("#dupe-error").attr("hidden", true)
            }

            if (blank) {
                $("#blank-error").attr("hidden", false)
            } else {
                $("#blank-error").attr("hidden", true)
            }

            if (dupe || blank) {
                $("#submit").attr("disabled", true)
            } else {
                $("#submit").attr("disabled", false)
            }
        }

        $("#field1, #field2, #field3, #field4, #field5").on("change", function () {
            checkErr()
        })
    </script>
</body>
</html>